@*
    @model List<ObjetoEscuelaBase>
*@
@* <p>
    Nombre: @Model.Nombre <br>
    Id : @Model.UniqueId
    </p> *@

<table>
    <thead class="table table-dark table-hover">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.Nombre</td>
                <td>@Html.ActionLink("Editar", "Edit", new { id = obj.Id })</td>
                <td>@Html.ActionLink("Eliminar", "Delete", new { id = obj.Id })</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>